@font-face {
    font-family: 'domestos98';
    src: url('fonts/domestos98-thin-webfont.eot');
    src: url('fonts/domestos98-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/domestos98-thin-webfont.woff') format('woff'),
         url('fonts/domestos98-thin-webfont.ttf') format('truetype'),
         url('fonts/domestos98-thin-webfont.svg#domestos98_thinregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'domestos98-bold';
    src: url('fonts/domestos98-bold-webfont.eot');
    src: url('fonts/domestos98-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/domestos98-bold-webfont.woff') format('woff'),
         url('fonts/domestos98-bold-webfont.ttf') format('truetype'),
         url('fonts/domestos98-bold-webfont.svg#domestos98bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dinpro';
    src: url('fonts/dinpro-regular-webfont.eot');
    src: url('fonts/dinpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dinpro-regular-webfont.woff') format('woff'),
         url('fonts/dinpro-regular-webfont.ttf') format('truetype'),
         url('fonts/dinpro-regular-webfont.svg#dinpro-regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);

body {
	background: #efeeea;
	margin: 0;
	font-family: 'domestos98', 'Myriad Pro', Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
.container {
	width: 960px;
	margin: 0 auto;
}
header img {
	display: block;
}
.nav {
	list-style-type: none;
	margin: 16px 0 16px 0;
	padding: 0;
	float: right;
	text-transform: uppercase;
	font-family: 'dinpro', 'domestos98', 'Myriad Pro', Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 10px;
}
.nav.extra-margin {
	margin: 16px 35px 60px 0;
}
.nav li {
	float: left;
	border-right: solid 1px #000;
	line-height: .8em;
}
.nav li.no-separator {
	border-right: none;
}
.nav li.social-media {
	border-right: none;
	line-height: 1em;
	margin: -3px 0 0 3px;
}
.nav li a {
	color: #000;
	text-decoration: none;
	padding: 0 7px 0 7px;
}
.nav li.social-media a {
	padding: 0 0 0 5px;
	width: 14px;
	height: 14px;
	display: inline-block;
	text-indent: -9999px;
}
.nav li.social-media a.facebook {
	background: url('/img/88/facebook.png') no-repeat top left;
}
.nav li.social-media a.twitter {
	background: url('/img/88/twitter.png') no-repeat top left;
}
.nav li.social-media a.instagram {
	background: url('/img/88/instagram.png') no-repeat top left;
}
.main {

}
.main.retail-locations-page {
	padding: 0;
}
h1 {
	margin: 0;
	clear: both;
	color: #f50018;
	font-style: italic;
	font-size: 26px;
	font-weight: normal;
}
h2 {
	font-style: italic;
	font-size: 19px;
	font-weight: normal;
	font-family: 'Roboto', sans-serif;
}
.products {
	margin-top: 30px;
}
.products p {
	margin: 0 0 7px 0;
	font-size: 12px;
}
.products .cappuccino p {
	margin: 6px 0 12px 0;
}
.products h3 {
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: -1px;
}
.product {
	float: left;
	width: 27%;
	padding-top: 0px;
}
.product.cappuccino {}
.product.mochaccino {
	width: 26%;
}
.product.latte-macchiato {}
.product.caffe {

	width: 20%;
}
h3 {
	margin: 0;
	font-weight: normal;
}
.nutrition-facts {
	background: url('/img/88/badge.png') no-repeat top center;
	color: #8f8e8e;
	text-align: center;
	width: 29px;
	height: 33px;
	font-size: 8px;
	float: right;
	margin: 15px 61px 0 5px;
	line-height: .8em;
}
.product.mochaccino .nutrition-facts {
	margin: 15px 53px 0 5px;
}
.product.latte-macchiato .nutrition-facts {
	margin: 15px 61px 0 5px;
}
.product.caffe .nutrition-facts {
	margin: 15px 0px 0 5px;
}
.product.caffe .nutrition-facts.longer {
	clear: right;
	margin: 10px 0 0 5px;
	font-size: 7px;
}
.nutrition-facts.longer .calories {
	margin: 0;
}
.nutrition-facts .calories {
	font-family: 'domestos98-bold', 'domestos98', 'Myriad Pro', Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 10px;
	display: block;
	margin: 4px 0 0 0;
	line-height: 1em;
}
.btn {
	background: url('/img/88/button-bg.png') no-repeat top left;
	width: 109px;
	height: 26px;
	text-align: center;
	color: #e2e2e2;
	text-shadow: 0px 0px 0px #cfcfcf;
	text-transform: uppercase;
	line-height: 23px;
	display: inline-block;
	font-size: 10px;
	text-decoration: none;
}
.photos {
	clear: both;
	padding-top: 30px;
}
.photos img {
	display: block;
}
.retail-locations {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	clear: both;
}
.retail-locations tr td, .retail-locations tr th {
	width: 33.333333333%;
	text-align: center;
	vertical-align: middle;
	height: 90px;
	border-right: solid 2px #bbbbba;
}
.retail-locations tr td:first-child, .retail-locations tr th:first-child {
	border-left: solid 2px #bbbbba;
}
.retail-locations tr:nth-child(odd){
}
.retail-locations tr:nth-child(even){
	background-color:#c6c6c6;
}
footer {
	clear: both;
	background: url('/img/88/footer-gradient.jpg') repeat-x top center;
	padding: 8px;
	font-size: 13px;
}
footer.subpage {
	background: none;
	border-bottom: solid 3px #c8c8c6;
	padding: 20px 8px;
	margin-bottom: 10px;
}
footer p {
	margin: 0;
}
.right {
	float: right;
}
.red-link {
	color: #ff0000;
}

/* INSTAGRAM FEED STYLES */
#instagram{
	overflow-x: scroll;
	margin: 0px;
}
#instagram .insta-item{
	margin: 0px;
	padding: 0px;
	width: 138px;
	height: 138px;
	display: inline-block;
}
#instagram .insta-item a{
	margin: 0px;
	padding: 0px;
}
#instagram .insta-item a img{
	margin: 0px;
	padding: 0px;
	width: 138px;
	height: 138px;
}
#instagram .insta-absolute{
	position: absolute;
}
#instagram .insta-margin{
	margin-top: 138px;
}
#instagram .insta-large{
	width: 273px;
	height: 276px;
}
#instagram .insta-large a img{
	width: 273px;
	height: 276px;
}

#popup-container{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.7);
	margin: 0px;
	padding: 0px;
}

#popup-container #popup{
	display: none;
}

#full-bleed{
	background: url('/img/88/red-bg.png');
	background-position: center center;
	background-size: cover;
}

#full-bleed-gradient{
	background: url('/img/88/gradient.png');
	background-repeat:repeat-x;
}